<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>TEST</title>
<!--
-->
<!--
                <img src="${request.static_url('pointtracker:static/bootstrap/img/eightball.jpg')}" alt="eight ball" height="168" width="100">
                <img src="${request.static_url('pointtracker:static/bootstrap/img/eightball.jpg')}" alt="eight ball" height="168" width="100">
                <img src="${request.static_url('pointtracker:static/bootstrap/img/eightball.jpg')}" alt="eight ball" height="168" width="100">
-->

        <link  href="fullbootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="fullbootstrap/js/bootstrap.js"></script>




<!--
        <script src="../static/bootstrap/js/bootstrap.js"></script>
        <script src="../static/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
-->
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    </head>
    <body>



        <div style="text-align: center">
            <a href="#myModal" class="btn btn-large btn-primary" data-toggle="modal">Update PointTracker Account</a>
        </div>


        <div class="modal hide fade" id="myModal" aria-hidden="true">
            <div class="modal-header">
                <h3>Updating PointTracker accounts</h3>
            </div>

            <div class="modal-body" style="text-align: center">
                <p> All sub accounts are being updated</p>
            </div>

            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>



<!--

                    <h1> this is test</h1>

                    <p>
                        <img src="${request.static_url('pointtracker:static/bootstrap/img/eightball.jpg')}" alt="eight ball" height="168" width="100">
                    </p>

                    <p>
                    </p>
-->


    </body>
</html>
